$danger-color: #ec250d;

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center-container {
  @include horizontal-container;
  justify-content: center;
}

.chart-placeholder {
  @include horizontal-container;
  justify-content: center;
  height: 200px;
}


.leaflet-map-container {
  width: 100%;
  height: 100%;
  min-height: 250px;
  position: relative;
  .leaflet-map {
    height: 100%
  }
}

.map-box-container {
  width: 100%;
  height: 100%;
  min-height: 350px;
  position: relative;
}

.satellite-pagination {
  align-items: center !important;
  margin-top: 10px;
  position: relative;
  overflow-x: auto;

  .satellite-pagination-arrow {
    position: absolute;
    z-index: 3;
    display: none;

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  &:hover {
    .satellite-pagination-arrow {
      display: block;
    }
  }
  .satellite-images-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
  }
}


#map-satellite {
  position: relative;
  overflow: hidden;
  height: 60vh;
  min-height: 250px;
  width: 100%;
}

.map-satellite-placeholder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable-table-row {
  cursor: pointer;
}
.clickable-table-row:hover {
  background-color: rgba(0,0,0,.05);
}
.satellite-icon {
  margin-right: 2px;
  width: 15px;
  height: 10px;
  font-size: 0.65rem;
}

.satellite-text {
  font-size: 0.65rem;
  margin-right: 5px;
  text-transform: none !important;
}

.pagination {
  .page-item {
    .satellite-images-pagination-link {
      border-radius: 0.2857rem !important;
      text-align: left;
      text-transform: none;
      height: auto ;
      min-width: 110px;
      background-color: #27293d;

      button {
        padding: 0;
      }
    }
  }
}

.satellite-calendar {
  input {
    display: none;
  }
  .rdtPicker {
    top: 10px;
    .rdtDays {
      td[class=rdtDay] {
        //color: #525f7f;
        background-color: #eeeeee;
      }
    }
  }
}

.datepicker-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-header-calendar {
  color: #525f7f;
  margin-left: 10px;
  .chart-calendar-right {
    .rdtPicker {
      right: 0;
      &:before {
        display: none;
      }
      &:after {
        left: auto;
        right: 10px;
      }

    }
  }
}

.danger-color {
  color: $danger-color !important;
}

.danger-border {
  border-color: $danger-color;
}

.polygons-table {
  tbody {
    tr:hover {
      background-color: rgba(0,0,0,.05);
    }
  }
}
