@import './black-dashboard-pro-react/custom/variables';

$danger-color: #ec250d;
$fontColorBlack: #595959;
$fontColorGrey: rgba(255, 255, 255, 0.5);
$activeWhite: rgba(255, 255, 255, 0.1);
$mapHeight: 400px;


.justify {
  justify-content: space-between;
}

@mixin horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin no-button-style {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.remove-button-style {
  @include no-button-style;
}

.horizontal-container {
  @include horizontal-container;
}

.center-container {
  @include horizontal-container;
  justify-content: center;
}

.chart-placeholder {
  @include horizontal-container;
  justify-content: center;
  height: 100%;
}

.leaflet-map-container {
  width: 100%;
  height: 100%;
  min-height: $mapHeight;
  position: relative;
  .leaflet-map {
    height: 100%
  }
}

.map-box-container {
  width: 100%;
  height: 100%;
  min-height: $mapHeight;
  position: relative;
  overflow: visible;
}

.small-card {
  height: $mapHeight;
  overflow: auto;
  position: relative;

  .card-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $card-black-background !important;
  }

  .card-footer {
    position: absolute;
    bottom: 0;
    background-color: $card-black-background !important;
  }
}

.map-row {
  max-height: $mapHeight;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.satellite-images-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: 0;

  .satellite-images-list {
    position: relative;
    @include horizontal-container;

    .satellite-image-list {
      display: flex;
      flex-direction: row;
      overflow-x: auto;

      .satellite-image {
        @include no-button-style;
        border-right: 1px solid rgba(255, 255, 255, 0.1);

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          border-right-color: transparent;
        }
      }
      .active {
        background-color: $activeWhite;
        border-right-color: transparent;
      }
    }
    .satellite-arrow-button {
      @include no-button-style;
      color: rgba(255, 255, 255, 0.2);
      &.left {
        padding-right: 5px;
      }
      &.right {
        padding-left: 5px;
      }
      &:hover {
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .calendar-icon {
      position: relative;
      cursor: pointer;
      padding: 10px;
      font-size: 25px;
      border-radius: 5px;
      &:hover {
        color: $activeWhite;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .satellite-pagination-arrow {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      display: none;
      align-items: center;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
    &:hover {
      .satellite-pagination-arrow {
        display: flex;
      }
    }
  }
}


.agro-dropdown {
  cursor: pointer;
  .show {
    .dropdown-caret {
      transform: rotate(180deg);
    }
  }
}


#map-satellite {
  position: relative;
  overflow: hidden;
  height: 60vh;
  min-height: 250px;
  width: 100%;
}

.map-satellite-placeholder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable-table-row {
  cursor: pointer;
}
.clickable-table-row:hover {
  background-color: rgba(0,0,0,.05);
}
.satellite-icon {
  margin-right: 2px;
  width: 15px;
  height: 10px;
  font-size: 0.65rem;
}

.satellite-text {
  font-size: 0.65rem;
  margin-right: 5px;
  text-transform: none !important;
}

.pagination {
  .page-item {
    .satellite-images-pagination-link {
      border-radius: 0.2857rem !important;
      text-align: left;
      text-transform: none;
      height: auto ;
      min-width: 110px;
      background-color: $card-color;

      button {
        padding: 0;
      }
    }
  }
}

.satellite-calendar {

  input {
    display: none;
  }
  .rdtPicker {
    //margin-top: -250px !important;
    //margin-left: 80px;
    top: 10px;
    .rdtDays {
      td[class=rdtDay] {
        //color: #525f7f;
        background-color: #eeeeee;
      }
    }
  }
}

.satellite-calendar .rdt .rdtOpen {
  position: absolute;
}

//.satellite-calendar .rdt.rdtOpen {
//    position: absolute;
//  }

.agro-calendar-container {
  .calendar-right {
    .rdtPicker {
      right: 0;
      &:before {
        display: none;
      }
      &:after {
        left: auto;
        right: 10px;
      }
    }
  }
}


.datepicker-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.agro-datepicker {
  color: #525f7f;
  .rdtDays {
    tr {
      .rdtDay {
        color: #344675;
        &.rdtDisabled {
          color: #9A9A9A;
        }
      }
    }
  }
}

.chart-calendar-right {
  .rdtPicker {
    right: 0 !important;
    &:before {
      display: none;
    }
    &:after {
      left: auto;
      right: 10px;
    }
  }
}

.danger-color {
  color: $danger-color !important;
}

.danger-border {
  border-color: $danger-color;
}

.polygon-table {
  tbody {
    tr:hover {
      background-color: rgba(0,0,0,.05);
    }
  }
}

.highlight-background {
  background-color: $activeWhite;
}

.table-wrapper {
  position: relative;
  overflow: auto;
  white-space: nowrap;
}


$hourly-chart-width: 3000px;
$daily-chart-width: 1000px;


.hourly-chart {
  .card-body {
    overflow-x: auto;
  }
  .chart-area {
    width: $hourly-chart-width !important;
  }
}

.daily-chart {
  .chart-area {
    height: 450px !important;
  }
}

.agro-chart {
  .chart-area {
    height: 350px;
  }
}






.agro-switch {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 7px;
  label {
    font-weight: 300;
    width: 140px;
  }
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-image: none;
}

.show {
  .agro-switch {
    label {
      color: #222a42;
      text-transform: uppercase;
    }
  }
}

.agro-tab {
  ol, ul {
    li {
      color: $fontColorGrey
    }
  }
}

.agro-alert {
  text-align: left;
  color: $fontColorBlack;
  width: 42em !important;
  h2 {
    text-align: left !important;
  }
  div {
    text-align: left;
  }
  p, span {
    color: $fontColorBlack;
  }
  input {
    color: #222a42;
  }
  .agro-pop-up-footer {
    @include horizontal-container;
    justify-content: flex-end;
    flex-wrap: wrap
  }
}

.card {
  .card-body {
    text-transform: none !important;
    .card-category {
      text-transform: none;
    }
  }
}

.agro-placeholder {
  display: flex;
  height: 330px;

  .agro-placeholder-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.agro-alert-container {
  background-color: rgba(255, 255, 255, 0.1);
}

.agro-notification-icon {
  border-color: $primary !important;
  color: $primary !important;
  padding: 0 !important;;
  width: 1.8rem !important;;
  height: 1.8rem !important;;
  min-width: 1.8rem !important;;
  min-height: 1.8rem !important;;
}

.btn.btn-simple.btn-github.active {
  background-color: $github-states !important;
  border-color: $github-states !important;
  color: $background-states-black !important;
}

.autofill-color {
  input:-webkit-autofill
    {
     -webkit-text-fill-color: yellow !important;
    }
}

.all-polygons-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.agro-tab {
  padding: 7px !important;
  cursor: pointer;
}



.agro-layer-select {
  .react-select__control {
    border: none;
    border-radius: 0;
    .react-select__value-container {
      padding-left: 0;
      .react-select__placeholder {
        white-space: nowrap;
        font-weight: 100;
        color: $white;
        font-size: $h2-font-size;
      }
    }
    .react-select__indicators {
      width: 20px;
    }
    .react-select__control--menu-is-open {
      height: 500px;
    }
  }
  .react-select__menu {
    height: 500px !important;
  }
}

.no-card-header {
  //.card-header {
  //  display: none !important;
  //}
  .card-title {
    display: none !important;
  }
}

.react-select.react-select--is-disabled .react-select__control--is-disabled {
  background-color: transparent !important;
}

.card-login {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

.crop-map-card {
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 270px;
  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.map-placeholder {
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.active-year {
  color: $primary !important; // $github-color
  h4 {
    color: $primary !important; // $github-color
  }
}
.disabled-year {
  color: $card-stats-gray !important; // $github-color
  h4 {
    color: $card-stats-gray !important; // $github-color
  }
}

.sidebar .nav li > button {
    margin: 10px 15px 0;
    border-radius: 30px;
    color: #ffffff;
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.62475rem;
    padding: 10px 8px;
    line-height: 1.625rem;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    //p {
    //  opacity: 100;
    //}
}

.sidebar .nav li.active > button:before {
    content: " ";
    position: absolute;
    height: 6px;
    width: 6px;
    top: 22px;
    left: -4px;
    background: #ffffff;
    border-radius: 50%;
}

.sidebar-mini .sidebar .sidebar-wrapper > .nav > li > button p {
    opacity: 0;
}

.sidebar-mini .sidebar:hover .sidebar-wrapper > .nav > li > button p,
.sidebar-mini .sidebar:focus .sidebar-wrapper > .nav > li > button p {
    opacity: 100;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .sidebar-mini .sidebar .sidebar-wrapper .nav li button p {
    opacity: 100 !important;
  }
}


.agro-alert-dark {
  text-align: left;
  background-color: #1e1e2e!important;
  color: white!important;
  width: 42em !important;
  h2 {
    text-align: left !important;
    color: white!important;
  }
  div {
    text-align: left;
  }
  p, span {
    color: white;
  }
  input {
    color: white!important;
  }
  .agro-pop-up-footer {
    @include horizontal-container;
    justify-content: flex-end;
    flex-wrap: wrap
  }
  span.btn {
    @include no-button-style;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 0;
    &:hover {
      background: none !important;
      color: $gray-100 !important;
      box-shadow: none;
    }
  }
}

.agro-alert-dark-crop {
  text-align: left;
  font-family: $font-family-base;
  background-color: #1e1e2e!important;
  color: $gray-100!important;
  width: 42em !important;
  font-size: 10px;
  h2 {
    margin-top: 25px!important;
    text-align: left !important;
    color: $gray-100!important;
  }
  div {
    text-align: left;
  }
  p, span {
    color: $gray-100;
  }
  input {
    color: $gray-400!important;
  }
  .agro-pop-up-footer {
    @include horizontal-container;
    justify-content: flex-end;
    flex-wrap: wrap
  }
  span.btn {
    @include no-button-style;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 0;
    &:hover {
      background: none !important;
      color: $gray-100 !important;
      box-shadow: none;
    }
  }
}

.billing-plans-table {
  tr {
    td:first-child {
      text-align: left;
    }
  }
  tr.sticky-row {
    th {
      position: sticky;
      top: 0;
      background-color: $card-color;
      z-index: 1;
      text-transform: none;
    }
  }
}

.innerMenu {
  padding: 0 10px 15px;
  text-transform: uppercase;
  color: $gray-100;
  &.active {
    color: $primary;
  }
}

.notification-link {
  color: #ffffff !important;
  &:hover {
    text-decoration: underline !important;
  }
}