{
  "extends": ["@imaginary-cloud/react"],
  "rules": {
    "no-unused-vars": "warn",
    "prettier/prettier": "warn",
    "spaced-comment": "warn",
    "no-param-reassign": "warn",
    "react/jsx-boolean-value": "warn",
    "react/prop-types": "warn",
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}

//  "import/no-cycle": "warn",
